
    body {
      scroll-behavior: smooth !important;
      background-color: #145217;
      color: #e0e0e0;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    a, a:hover, a:focus {
      color: #81c784;
      text-decoration: none;
    }
    a:hover, a:focus {
      text-decoration: underline;
    }
    h1 {
      color: #a5d6a7;
      font-weight: 700;
    }
    .btn-outline-light {
      border-color: #81c784;
      color: #81c784;
    }
    .btn-outline-light:hover {
      background-color: #81c784;
      color: #121212;
    }
    p.lead, p, td {
      font-size: 1.15rem;
      line-height: 1.6;
      color: #ccc;
    }
    table {
      background-color: #225f27;
    }
    th {
      background-color: #2c2c2c;
      color: #a5d6a7;
    }
    td, th {
      padding: 0.8rem 1rem;
      vertical-align: middle;
      border: 1px solid #444;
    }
    tbody tr:hover {
      background-color: #316831;
    }
    img {
      vertical-align: middle;
      margin-left: 0.5rem;
      border-radius: 5px;
      box-shadow: 0 0 8px #4caf5080;
    }
