html{
	animation: coloriSfondo 7s infinite;
	align-content: center;

	/* anti copiatura (per migliore visibilità animazioni e altro) */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@keyframes coloriSfondo {
    0% {
        background:#edc531;

    }/*background:#24243e;*/
    25%{    background:#dbb42c; }

    
  
    50% {
        background:#c9a227; }

      
    70%{
        background:#dbb42c; }

      
    100%{
        background:#edc531; }

      
  }
  /* HOME */
  .homebutton {
    margin:20px;
    width: 100px;
    top: 10px;
    padding-right: 20px;
    position: absolute;
}
	
.homebutton a:hover {
    border-color: #000000;
    color: #000000;
    text-decoration: none;
}

.cloud-text {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
	background-image: url(/img/sfondoMappa.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
	font-size: 14px;
    letter-spacing:10px;
    font-family: 'Raleway', sans-serif;
	text-shadow: 0 10px 20px rgba(54, 46, 1, 0.5);
	font-size: 200px;
    font-weight: 900;

	
	animation: clouds-moving infinite 200s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
	position: block;

}
@keyframes clouds-moving {
   0% {
	   background-position: 0%;	
   }
   50% {
	   background-position: 100%;	
   }
   100% {
	   background-position: 0%;
   }
}
p{
	font-size: 35px;
    font-family: sans-serif;
    word-wrap:normal;
    text-align: justify;
	margin: 20px;
}
img{
	position: block;
	left: 0px;
	top: 0px;
	margin-left: 15%;
	width: 70%;
	height: 40%;

}
li{
	font-size: 25px;
	font-family: sans-serif;
    word-wrap:normal;
    text-align: justify;
	margin: 20px;
}
.spazio{
    width: 150px;
    height:150px;
}